
<!-- Logo bar -->
<nav class="navbar navbar-light bg-light d-flex justify-content-between w-100">
  <div class="container-fluid col-lg-9">  
      <img src="/assets/images/logo.jpg" alt="Peachtree Bank" class="logo d-inline-block align-top">
  </div>

  <div class="col-lg-3 translation">
    <button class="btn btn-outline-secondary mx-2" (click)="changeLang('en')">{{'language.english' | translate}}</button>
    <button class="btn btn-outline-secondary" (click)="changeLang('es')">{{'language.spanish' | translate}}</button>
  </div>
</nav>

<div class="container">
<div class="rowContainer mt-5">
  <!-- Form for transactions -->
  <div class="transactionForm col-lg-4 col-xs-12 bg-white">
    <div class="headerCards d-flex align-middle">
      <span><img class="iconArrows" src="/assets/images/icons/arrows.png" alt="Icon"></span>
    <div class="text-center align-middle col-lg-8 mt-1">
        <h5>       
          {{'form.make' | translate}}
      </h5>
    </div>
      
    </div>
    <form class="p-4" id="transfers" action="#">
      <h5 class="text-warning mb-3" *ngIf="preview">{{'form.review' | translate}}}</h5>
      <div class="mb-3">
        <label for="fromAccount" class="form-label"><b>{{'form.from' | translate}}</b></label>
        <input type="text" id="fromAccount" value="Free Checking(4692) - $5824.76" aria-describedby="Transfer From account" disabled>
      
      </div>  

       <div class="mb-3">
        <label for="toAccount" class="form-label"><b>{{'form.toAccount' | translate}}</b></label>
        <select  [disabled]='preview' name="toTransfer" id="toTransfer">
          <option selected>{{'form.selectWhom' | translate}}</option>
          <option *ngFor="let dato of Datos">
           {{dato.merchant.name}}
          </option>
        </select>
       </div>
     
       <div class="mb-3">
        <label for="amount" class="form-label"><b>{{'form.amount' | translate}}</b></label>
        <input [disabled]='preview' type="text" id="amount" placeholder="$0.00" aria-describedby="Amount to transfer">
       </div>

       <div class="form-footer">
        <button (click)="submit()" *ngIf="!preview" class="btn button-submit">{{'form.submit' | translate}}</button>
        <button *ngIf="preview" (click)="transfer()" class="btn button-submit">{{'form.transfer' | translate}}</button>
       </div>
      
    </form>
  </div>
  <!-- Transactions view -->
  <div class="col-lg-8 col-xs-12">
   
    <div class="headerCards d-flex align-middle">
      <span><img class="iconBriefcase" src="/assets/images/icons/briefcase.png" alt="Icon"></span>
    <div class="text-center align-middle col-lg-10 mt-1">
        <h5>       
          {{'form.transactions' | translate}}
      </h5>
    </div>      
    </div>

    <div class="transactionsContainer">
      <div class="filters w-100 mt-3 mb-3">
        <div class="col-lg-4 mx-5 search">
          <input type="text" id="search" placeholder="{{'form.search' | translate}}" />
          <button class="iconClear" (click)="clear()">X</button>  
        </div>
        <div class="d-flex col-lg-6 sort">
           <small class="mx-2 pt-1 titleSort"><b>{{'form.sort' | translate}}</b></small>
           <div class="filtersButton">        
            <button class="btn btn-outline-dark sortDate" (click)="sortbyDate()">{{'form.date' | translate}}</button>
            <button class="btn btn-outline-dark" (click)="sortbyMerchant()">{{'form.beneficiary' | translate}}</button>
            <button class="btn btn-outline-dark" (click)="sortbyAmount()">{{'form.amountFilter' | translate}}</button>
          </div> 
        </div>
      </div>

      <table id="transactionsList" class="table table-responsive">
       <tbody>
        <tr *ngFor="let dato of Datos">
          <td style="background-color: {{dato.categoryCode}}; width:20px"></td>
          <!-- <td class="date">{{dato.dates.valueDate}}</td> -->
          <td class="date">{{dato.dates.valueDate | date: 'MMM.d'}}</td>
          <td class="logoImg"><img src="{{dato.logo}}"/></td>
          <td><b class="merchantName">{{dato.merchant.name}}</b>
            <br>
            <small>{{dato.transaction.type}}</small>
          </td>
          <td><b class="amount">-{{dato.transaction.amountCurrency.amount}}</b></td>
        </tr>
       </tbody>
      </table>
     
    </div>
  </div>
</div>